/* It's important to make sure that any overlays have *absolute* positioning,
	otherwise they won't position correctly in fullscreen mode */


/*
    here we're overloading the "revealWrap" class so that our "revealed" text all stays on one line
*/
.revealWrap{
    float:left;
}

/*
http://www.sitepoint.com/css3-glowing-link-effect/
*/
.glow, .glow:hover, .glow:focus
{
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
}

.glow:hover, .glow:focus
{
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}
