/* It's important to make sure that any overlays have *absolute* positioning,
	otherwise they won't position correctly in fullscreen mode */


#u3Chart{
    color: #FFFFFF;
    font-family: 'PT Mono',serif;
    font-size: 22px;
    left: 40px;
    position: absolute;
    top: 20px;
    text-align: left;
    width: 700px;
    height:350px;
}


#u6Chart{
    color: #FFFFFF;
    font-family: 'PT Mono',serif;
    font-size: 22px;
    left: 0px;
    position: absolute;
    top: 5px;
    text-align: left;
    width: 700px;
    height:350px;
}

